apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: workflows
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/luzhac/ml-platform
    targetRevision: main
    path: pipelines/workflows/iris
    directory:
      recurse: true
  destination:
    server: https://kubernetes.default.svc
    namespace: pipeline
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
