apiVersion: v1
kind: Namespace
metadata:
  name: mlflow
---
apiVersion: v1
kind: Secret
metadata:
  name: postgres-database-secret
  namespace: mlflow
type: Opaque
stringData:
  username: mlflow_user
  password: REPLACE_ME_DB_PASSWORD